html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

.container {
  font-size: 100%;
  display: flex;
  flex-flow: column;
  background-color: rgb(46, 46, 46);
}

.head {
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
  background-color: darkcyan;
  padding: 20px;

}
.head p {

  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
}
.head ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;  
}

.head ul li { 
 text-transform: uppercase;
}

.aside {
  display: flex;
  flex-flow: column-reverse;
}
.aside h2 {
  text-align: center;
}

.aside-one { 
  background-color: darkgreen;
  color: aliceblue;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
.aside-one ul {
  list-style-type: none;
  margin-top: 5px;
}
 
.aside-two {
  
  background-color: darkgoldenrod;
  color: aliceblue;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
.aside-two ul {
  list-style-type: none;
  margin-top: 5px;
}

.main-content {
  color: rgb(58, 189, 189);
  margin: 5px;
}

footer {
  background-color: gray;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

@media screen and (min-width: 750px) {
  .aside {
    flex-flow: row;
    width: 100%;
  }
  .aside-one {
    width: 50%;
  }
  .aside-two {
    width: 50%;
  }

  .container {
    font-size: 125%;
  }

}

@media screen and (min-width: 1100px) {
  .container {
    font-size: 150%;
    max-width: 1100px;
    display: flex;
    flex-flow: column;
    margin: 10px auto; 
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px gray;
  } 
  body {
    background-color: black;
  }
  .head {
    border-radius: 10px;
  }
 
}








